@font-face {
    font-family: "Raleway"; 
    src: url("./fonts/Raleway");
    }
body{
    max-width: 1280px;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
li{
    text-decoration: none;
    list-style: none;
}
nav{
    width: 800px;
    height: 50px;
    margin: 0 auto;
}
footer{
    width: 100%;
    height: auto;
    background-color: black;
    margin: 0 auto;
    text-align: center;
}
.topNav__a{
    text-transform: uppercase;
    padding: 0 16px;
    text-align: center;
    color: black;
    font-size: 15px;
    border-bottom: 2px solid transparent;
}
.icon:hover,
.topNav__a:hover{
    border-bottom: 2px solid red;
}
.logo{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
}
.graphiclogo{
    padding: 5px;
    max-width: 100%;
    box-sizing: border-box;
}
.topNav{
    font-size: 14px;
    margin-top: 20px;
    background-color: white;
}
.icon{
    display: none;
    padding: 0 16px;
    text-align: center;
    color: black;
    font-size: 25px;
}
.wrap{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wrap-img{
    display: flex;
justify-content: center;
}
.mw-100{
    max-width: 100%;
}
.block-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.block__container{
    display: flex;
    justify-content: center;
}
.block{
width: 70%;
display: flex;
justify-content: space-between;
text-align: center;
flex-wrap: wrap;
padding-top: 40px;
}
.block__items{
    width: 30%;
}
.footer__a{
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    margin-left: 10px;
    border-bottom: 1px solid transparent;
}
.footer__a:hover{
    border-bottom: 1px solid white;
}
.social-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}
.social-img:hover{
     transform: scale(1.5);
     box-shadow: 0 0 3px 3px white;
     position: relative;
}
.footer__nav{
display: flex;
align-items: center;
justify-content: space-around;
padding-top: 20px;
box-sizing: border-box;
flex-wrap: wrap;
}
.social{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.project{

}
.galery{

}
.photo-item{
display: flex;
width: 90%;
justify-content: space-around;
flex-wrap: wrap;
margin: 0 auto;
}
.photo{
    width: 271px;
    height: 167px;
    border: 1px solid black;
    margin: 10px 2px;
    box-sizing: border-box;
    opacity: 0.7;
}
.photo:hover{
    opacity: 1;
    transform: scale(1.5);
    transition: 1.5s;
    position: relative;
    z-index: 2;
    animation-fill-mode: forwards;
}
.photo:not(:hover){
    transition: 1.5s;
}
.map{
   box-sizing: border-box;
    max-width: 80%;
    height: 20vw;
}
.maps{
    box-sizing: border-box;
     height: auto;
   display: flex;
     margin: 0 auto;  
 }
 .servis{
width: 80%;
text-align: center;
margin: 0 auto;
 }
.servis-container{
display: grid;
grid-template-columns: auto auto;
grid-gap: 50px 100px;
margin-top: 50px;
}
.servis-container__block{
text-align: center;
}
.servis-img{
    max-width: 100%;
}



@media screen and (max-width: 768px ){

    .topNav__a:not(:first-child){
        display: none;
        padding: 8px 16px;
    }
    .icon{
        margin-top: -8px;
        float: right;
        display: block;
        color: black;  
    }
    nav{
        width: 100%;      
    }
    .responsive{
        position: relative;
        opacity: 0.8;
        z-index: 5;
    }
    .topNav.responsive .icon{
        position: absolute;
        right: 0;
        top: 0;
    }
    .topNav.responsive .topNav__a{
        display: block;
        float: none;
        text-align: left;
    }
    .block__items{
        width: 45%;
    }
    
}



@media screen and (max-width: 420px ){

.block{
    flex-direction: column;
}
.block__items{
    width: 100%;
}
.servis-container{
    grid-template-columns: auto;
    }
}